/* Reset / Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  
  position: relative;
  z-index: 0;
}

html, body {
  overflow-x: hidden;
}

/* Media defaults */
img,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Focus */
:focus {
  outline: 2px solid var(--white);
  outline-offset: 10px;
  border-radius: 10px;
}

:focus:not(:focus-visible) {
  outline: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  /* replace with your own focus style, e.g: */
  box-shadow: 0 0 0 1px var(--blue);
}